<main role="main" class="inner cover">
  <h3 class="cover-heading">Welcome</h3>
  <p class="lead">Test specialist and ScrumMaster. Outdoor enthusiast and Traveler. Hobby developer and musician. My site contains various content, hopefully in a well structed way.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class:"btn btn-lg btn-secondary" %>
  </p>
</main>
